week1/northwind_psql-master/
# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environment
de_env/
venv/

# Jupyter
.ipynb_checkpoints/
# Data files
*.csv
*.json
*.parquet

# Data folders
data/
week2/data/
